################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdtToMm/OdtToMm/bin/Debug
/OdtToMm/OdtToMm/obj/Debug
/OdtToMm/.vs/OdtToMm/v14
